@media screen and (min-width: 992px) {
  .header-section {
    margin: 52px auto;
  }
  .items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .header-section,
  .banner-section {
    margin: 20px;
  }
  .items-container a {
    display: none;
  }
  .bars {
    display: block;
  }
  .bars fa-bars {
    font-size: 16.5px;
  }
  .items-container {
    justify-content: end;
  }
  .banner-form {
    width: 70%;
    flex-direction: column;
  }
  .banner-text {
    width: 100%
  }
  .banner-form input, select, button {
    width: 100%;
  }
  .banner-text h1 {
    font-size: 1.37rem;
  }
  .nav-container {
    width: 90%;
  }
  .items-container {
    width: 10%;
  }
}